h1 {
  width: 100%;
  max-width: 31rem;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.167px;
  text-align: center;
  color: #4d4f62;
}

h1 span {
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.5rem;
}

header p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4d4f62;
  margin-top: 1.3rem;
}

@media screen and (min-width: 90rem) {
  h1 {
    font-size: 3.6rem;
    max-width: 60rem;
  }

  header p {
    width: 54rem;
  }

  .card {
    width: 35rem;
  }
}
