main {
  margin-top: 7.6rem;
  margin-bottom: 7.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.card {
  width: 31.1rem;
  height: 22.2rem;
  padding: 2.8rem;
  border-radius: 12px;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.card h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color: #4d4f62;
}

.card p {
  opacity: 0.5;
  font-size: 1.3rem;
  line-height: 1.77;
  letter-spacing: 0.09px;
  text-align: left;
  color: #4d4f62;
}

img {
  position: absolute;
  right: 2.8rem;
  bottom: 3.4rem;
}

.supervisor {
  border-top: 3.6px solid #44d3d2;
}

.builder {
  border-top: 3.6px solid #ea5454;
}

.karma {
  border-top: 3.6px solid #fcae4a;
}

.calculator {
  border-top: 3.6px solid #549ef2;
}

@media screen and (min-width: 90rem) {
  main {
    display: grid;
    grid-template-columns: repeat 3, 35rem;
    grid-template-rows: repeat 2;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .supervisor {
    border-top: 4px solid #44d3d2;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .builder {
    border-top: 4px solid #ea5454;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .karma {
    border-top: 4px solid #fcae4a;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .calculator {
    border-top: 4px solid #549ef2;
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
